:root {
    --primary-color: rgb(75, 50, 3);
    --secondary-color: rgb(202, 232, 169);
    --accent1-color: rgb(8, 50, 24);
    --accent2-color: rgb(218, 201, 102);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 95%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent2-color);
    text-align: center;
    padding: 15px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
    width: 100%;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

ul {
    position: relative;
    background-color: var(--secondary-color);
    padding: 30px;
}

.hero article {
    position: absolute;
    bottom: 0;
    padding: 5px;
    text-align: left;
    background-color: var(--accent2-color);
    width: 97%;
}

.hero article img {
    float: right;
    width: 180px;
}