* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(104, 101, 101);
    font-size: 1.2em;
    background-color: rgb(227, 227, 232);
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: rgb(69, 69, 154);
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(206, 204, 204);
    border-radius: 0.5rem;
    background-color: rgb(197, 206, 223);
    display: grid;
}

fieldset {
    display: grid;
    gap: 5rem;
    margin: 1rem;
    border: 1px solid grey;
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: rgba(0, 0, 255, 0.52);
    font-size: 1.3em;
}

label,
input,
button,
select,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

label {
    text-align: right;
    padding: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

select {
    color: grey;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}