* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    background-color: rgb(169, 180, 204);
    color: black;
}

h1 {
    margin: 0.5rem;
}

form {
    background-color: rgb(223, 223, 236);
    color: black;
}

input,
textarea,
button,
select {
    padding: 0.75rem;
    width: 350px;
}

button {
    margin: auto;
    background-color: navy;
    color: white;
    display: block;
    border-radius: 0.5rem;
    border: 1px solid rgb(193, 190, 190);
}

code {
    display: block;
    background-color: rgb(58, 57, 57);
    color: white;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(193, 190, 190);
    padding: 1rem;
}

.quiz-item {
    border: none;
}