:root {
    --primary-border: 1px solid black;
    --secondary-border: 1px solid rgb(0 0 0 / 0.2);
    --primary-color: darkblue;
    --secondary-color: rgba(206, 203, 203, 0.904);
    --primary-text-color: darkblue;
    --secondary-text-color: white;
    --paragraph-text-color: black;
    --tertiary-text-color: #333;
    --box-shadow: 0 0 30px gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: var(--secondary-text-color);
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--primary-text-color);
    margin: 1rem;
    border-bottom: var(--secondary-border);
}

h2 {
    color: white;
}

main img {
    width: 200px;
    height: auto;
    border: var(--primary-border);
    padding: 2px;
    box-shadow: var(--box-shadow);
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
    margin: 1rem;
    font-size: 17px;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    max-width: 840px;
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 250px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 35px;
    left: 99px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--secondary-border);
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--tertiary-text-color);
}

.indent {
    padding-left: 2rem;
}